[submodule "PSMNet_victor"]
	path = PSMNet_victor
	url = https://github.com/Victor-YG/PSMNet_victor.git
[submodule "tsdf-fusion-python_victor"]
	path = tsdf-fusion-python_victor
	url = https://github.com/Victor-YG/tsdf-fusion-python_victor.git
[submodule "stereo_orb_slam"]
	path = stereo_orb_slam
	url = https://github.com/Victor-YG/stereo_orb_slam.git
	branch = AER1515
